<div>
  <h2 id="page-heading" data-cy="VirementHeading">
    <span jhiTranslate="ebankingBnaApp.virement.home.title">Virements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="ebankingBnaApp.virement.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-virement"
        [routerLink]="['/virement/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ebankingBnaApp.virement.home.createLabel">Create a new Virement</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (virements().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="ebankingBnaApp.virement.home.notFound">No Virements found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="compteBeneficiaire">
              <div class="d-flex">
                <span jhiTranslate="ebankingBnaApp.virement.compteBeneficiaire">Compte Beneficiaire</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="motif">
              <div class="d-flex">
                <span jhiTranslate="ebankingBnaApp.virement.motif">Motif</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="compte.id">
              <div class="d-flex">
                <span jhiTranslate="ebankingBnaApp.virement.compte">Compte</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="beneficiaire.id">
              <div class="d-flex">
                <span jhiTranslate="ebankingBnaApp.virement.beneficiaire">Beneficiaire</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (virement of virements(); track trackId(virement)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/virement', virement.id, 'view']">{{ virement.id }}</a>
              </td>
              <td>{{ virement.compteBeneficiaire }}</td>
              <td>{{ virement.motif }}</td>
              <td>
                @if (virement.compte) {
                  <div>
                    <a [routerLink]="['/compte', virement.compte.id, 'view']">{{ virement.compte.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (virement.beneficiaire) {
                  <div>
                    <a [routerLink]="['/compte', virement.beneficiaire.id, 'view']">{{ virement.beneficiaire.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/virement', virement.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/virement', virement.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(virement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
