@if (virement) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(virement.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="virementDeleteDialogHeading" jhiTranslate="entity.delete.title">Confirm delete operation</h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error />
      <p id="jhi-delete-virement-heading" jhiTranslate="ebankingBnaApp.virement.delete.question" [translateValues]="{ id: virement.id }">
        Are you sure you want to delete Virement {{ virement.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
      </button>

      <button id="jhi-confirm-delete-virement" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
      </button>
    </div>
  </form>
}
