<div>
  <h2 id="page-heading" data-cy="MondatHeading">
    <span jhiTranslate="ebankingBnaApp.mondat.home.title">Mondats</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="ebankingBnaApp.mondat.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-mondat"
        [routerLink]="['/mondat/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ebankingBnaApp.mondat.home.createLabel">Create a new Mondat</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (mondats().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="ebankingBnaApp.mondat.home.notFound">No Mondats found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="compteSrc">
              <div class="d-flex">
                <span jhiTranslate="ebankingBnaApp.mondat.compteSrc">Compte Src</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="compteBenef">
              <div class="d-flex">
                <span jhiTranslate="ebankingBnaApp.mondat.compteBenef">Compte Benef</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="montant">
              <div class="d-flex">
                <span jhiTranslate="ebankingBnaApp.mondat.montant">Montant</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="code">
              <div class="d-flex">
                <span jhiTranslate="ebankingBnaApp.mondat.code">Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="compte.id">
              <div class="d-flex">
                <span jhiTranslate="ebankingBnaApp.mondat.compte">Compte</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (mondat of mondats(); track trackId(mondat)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/mondat', mondat.id, 'view']">{{ mondat.id }}</a>
              </td>
              <td>{{ mondat.compteSrc }}</td>
              <td>{{ mondat.compteBenef }}</td>
              <td>{{ mondat.montant }}</td>
              <td>{{ mondat.code }}</td>
              <td>
                @if (mondat.compte) {
                  <div>
                    <a [routerLink]="['/compte', mondat.compte.id, 'view']">{{ mondat.compte.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/mondat', mondat.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/mondat', mondat.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(mondat)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
