<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (compte(); as compteRef) {
      <div>
        <h2 data-cy="compteDetailsHeading"><span jhiTranslate="ebankingBnaApp.compte.detail.title">Compte</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ compteRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="ebankingBnaApp.compte.numcompte">Numcompte</span></dt>
          <dd>
            <span>{{ compteRef.numcompte }}</span>
          </dd>
          <dt><span jhiTranslate="ebankingBnaApp.compte.agence">Agence</span></dt>
          <dd>
            <span>{{ compteRef.agence }}</span>
          </dd>
          <dt><span jhiTranslate="ebankingBnaApp.compte.user">User</span></dt>
          <dd>
            <span>{{ compteRef.user?.id }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/compte', compteRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
